html{font-size: 62.5%;}

body{margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1em;
    font-family: STHeitiSC-Light, serif;
}
header{
    position: fixed;
    top:0;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    z-index: 100;
}

header .top{
    background-color: #68CDD5;
    display: flex;
    width: 100%;
    height: 8.8rem;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.back{
    height: 3.5rem;
    margin: 0 3.5rem ;
    padding: 0;
    position: absolute;
}
.title-word{
    margin: auto;
    font-size: 3.6rem;
    color: white;
}
main{
     margin-top: 8.8rem;
     margin-bottom:20rem;
     width: 100%;
 }

main .detailed{
    height: 32.6rem;
    background-image: url("标题背景.png");
    background-size: cover;
    position: relative;
    display: flex;
    }

.detailed-1{
    display: flex;
    align-items: center;
    position: absolute;
    top:7.9em;
    left:3em;
}

.detailed-2{
    display: flex;
    flex-direction: column;
    position: relative;
    top:11.6rem;
    left:23.9rem;

}
.detailed-3{
    margin-top: 0;
}
.detailed-4{
    margin-top: 2.5rem;}

.pic1{margin: 0;}

.name{
    font-size: 3.6rem;
    color: white;
}
.age{
    font-size: 2.8rem;
    margin-left: 1rem;
    color: white;
}
.address{
    font-size: 2.4rem;
    margin-left: 0.58rem;
    color: white;
}

.information{
    width: 100%;
}
.content{
    height:10rem;
    font-size: 3.2rem;
    margin:0 6.1rem;
    display: flex;
    border-bottom:1px solid #E1E5E7;
    align-items: center;
}
.content-1{
    width: 100%;
    height:10rem;
    font-size: 3.2rem;
    display: flex;
    border-bottom:1px solid #E1E5E7;
    align-items: center;
}
.content-2{
    min-height:10rem;
    font-size: 3.2rem;
    margin:0 6.1rem;
    display: flex;
    border-bottom:1px solid #E1E5E7;
    align-items: center;
}

.skill{
    border-left:3px solid #5FC0CD;
    color:#333333;
    font-weight:bold;
    margin-left: 3rem;
    padding-left: 3rem;
    }
.sign-2{
    border-left:1px solid #E1E5E7;
    padding-left: 1.7rem;
}
.text-1{
    margin-left: 0.4rem;
    margin-right: 2.1rem;
    font-weight:300;
    color:#333333;
    align-items: center;
    font-size: 3.2rem;

}
.text-2{
    color:#999999;
    font-family: Hiragino Sans GB, serif;
    border-right:1px solid #E1E5E7;
    padding-right: 2.6rem;
    white-space: nowrap
}
.text-3{
    color: #333333;
    font-family: STHeitiSC-Light, serif;
    font-weight:300;
    padding:0 6.1rem 0 2.7rem;
    align-items: center;
}
.text-4{
    color: #E26163;
    font-family: Hiragino Sans GB, serif;
    margin-left: 2.7rem;
    align-items: center;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
}
footer .message{
    background-color: white;
    color: #5FC0CD;
    border: 2px solid #5FC0CD;
    width: 31rem;
    height: 8.8rem;
    font-size: 3.4rem;
    border-radius:1rem;

}
.phone{
    background-color: #5FC0CD;
    color: white;
    border: 2px solid #5FC0CD;
    width: 31rem;
    height: 8.8rem;
    font-size: 3.4rem;
    border-radius:1rem;

}


